---
global:
  checkNewVersion: false
  sendAnonymousUsage: false
api:
  dashboard: false
ping:
  entryPoint: ping
entryPoints:
  ping:
    address: 127.0.0.1:8082
{% for port in edge_https_ports %}
  https-{{ port }}:
    address: ":{{ port }}"
{% endfor %}
{% for port in edge_raw_tcp_ports %}
  tcp-{{ port }}:
    address: ":{{ port }}"
{% endfor %}
{% for port in edge_udp_ports %}
  udp-{{ port }}:
    address: ":{{ port }}/udp"
{% endfor %}
providers:
  file:
    filename: /etc/traefik/dynamic/config.yml
    watch: true
log:
  level: {{ edge_observability_config.log_level if edge_observability_config.enabled else 'INFO' }}
{% if edge_observability_config.enabled | bool %}
  format: json
  filePath: /var/log/traefik/traefik.json.log
accessLog:
  format: json
  filePath: /var/log/traefik/traefik-access.json.log
  bufferingSize: 100
  fields:
    defaultMode: drop
    names:
      StartUTC: keep
      Duration: keep
      RouterName: keep
      ServiceName: keep
      ClientHost: keep
      RequestHost: keep
      RequestMethod: keep
      RequestPath: keep
      RequestProtocol: keep
      RequestScheme: keep
      RequestContentSize: keep
      OriginDuration: keep
      OriginStatus: keep
      OriginContentSize: keep
      DownstreamStatus: keep
      DownstreamContentSize: keep
      RetryAttempts: keep
      TLSVersion: keep
      TLSCipher: keep
    headers:
      defaultMode: drop
metrics:
  otlp:
    serviceName: traefik
    pushInterval: {{ edge_observability_config.traefik_metrics_interval }}
    addEntryPointsLabels: true
    addRoutersLabels: false
    addServicesLabels: true
    http:
      endpoint: http://127.0.0.1:4318/v1/metrics
{% else %}
accessLog: {}
{% endif %}
{% if edge_acme_enabled %}
certificatesResolvers:
  cloudflare:
    acme:
      email: {{ edge_acme_email }}
      storage: /var/lib/traefik/acme/acme.json
      caServer: {{ edge_acme_ca_server }}
      dnsChallenge:
        provider: cloudflare
{% endif %}
